.Logo{
    background-color: #2B244D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo img{
    height: 50px;
    padding: 8px;

}
span{
    color: white;
    font-size: 20px;
    padding-right: 10px;
    font-weight: bold;
}