.ForeCastLists{
    padding: 20px 16px;
    background-color: #180b23;
    border-radius: 0 0 12px 12px;
    height: 500px;
    overflow: auto;
    -ms-overflow-style: none;
    display: flex;
    flex-flow: column;
}
::-webkit-scrollbar {
   display: none;
}
@media (min-width: 600px){
    .ForeCastLists{
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
}